#app {
    /*Colocar no centro*/
    margin: 0 auto;
    width: 400px;
    border: 1px solid rgb(64, 65, 150);
    border-radius: 10px 0px 10px 0px;
    padding: 15px;
    margin-top: 15px;
    background-color:rgb(71, 184, 146);
}

label {
    width: 80px;
    text-align: right;
    display: inline-block;

}

textarea {
    font: 12px sans-serif;
    width: 300px;
    border: 1px solid teal;
    border-radius:4px;
    box-sizing: border-box;
    vertical-align: top;
    height: 100px;
}

button{
    padding:5px;
    margin-left: 328px;

}

input{
    width: 298px;
    border: 1px solid teal;
}

h3{
    text-align: center;
}

body{
    background-color: white;
}

select{
    width: 100px;
}

.ataque input{
    width: 50px;
}

.defesa input{
    width: 50px;
}